/bin/*
!/bin/release.sh
/ci-bin
/test-secrets.yaml
/test-auth.json
/tool
.vagrant

# Useful for ignoring the build tool
/.go
/tool
/coverage*.*
/report.*
/profile.cov
/integration

## Ignore logfiles
/log

/.env*
*.private
/ci-dist/

/.kubeconfig.yaml
